<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo ">
      <a href="/" class="app-brand-link">
        <img src=" " style="width: 100%;" alt="">
        <span class="demo menu-text"><b>Oxer</b>  
        </span>
      </a>
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="bx bx-chevron-left bx-sm align-middle">
        </i>
      </a>
    </div>
    <div class="menu-inner-shadow">
    </div>
    <ul class="menu-inner py-1">

  <li class="menu-header small text-uppercase">
  <span class="menu-header-text">  Pages
  </span>
  </li>


  <li class="menu-item  active">
  <a href="" class="menu-link">
  <i class='menu-icon bx bxs-dashboard' ></i>
  </i>
  <div data-i18n="speed">Dashboard </div>
  </a>
  </li>

  <li class="menu-item  active ">
      <a  class="menu-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class=' menu-icon bx bx-cog'></i>
        <div data-i18n="Authentications">Settings
        </div>
      </a>
     <ul class="dropdown-menu">
        <li class="">
          <a class="dropdown-item" href="">Settings</a>
        </li> 
      </ul>
  </li>
 


  <li class="menu-item">
  <a href="/logout" class="menu-link">
 <i class='menu-icon bx bx-power-off'></i>
  </i>
  <div data-i18n="Authentications">Logout
  </div>
  </a>
  </li>

    </ul>
  </aside>

  <div class="content-wrapper">
    <div class="container-fluid flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-1">
        <span style="cursor: pointer" class="text-muted fw-light" onclick="window.location.href=''">Dashboard / </span> <span  style="cursor: pointer"  onclick="window.location.href=''"></span>
      </h4>
