<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from futuritech.io/contact by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Dec 2023 06:55:37 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!---------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------->

     <!-- Meta Tags -->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Primary Meta Tags -->
     <title>Contact Us | FuturiTech</title>
     <meta name="title" content="Contact Us | FuturiTech">
     <meta name="keywords" content="">
     <meta name="description" content="Get in touch with FuturiTech today! Reach out to our experts for all your tech inquiries and solutions. We&#039;re here to assist you.">
     <!-- Open Graph / Facebook -->
     <meta property="og:type" content="website">
     <meta property="og:url" content="contact.html">
     <meta property="og:title" content="Contact Us | FuturiTech">
     <meta property="og:description" content="Get in touch with FuturiTech today! Reach out to our experts for all your tech inquiries and solutions. We&#039;re here to assist you.">
     <meta property="og:image" content="storage/app/public/featimages/1088873573metaimageall.png">
     <!-- Twitter -->
     <meta property="twitter:card" content="summary_large_image">
     <meta property="twitter:url" content="contact.html">
     <meta property="twitter:title" content="Contact Us | FuturiTech">
     <meta property="twitter:description" content="Get in touch with FuturiTech today! Reach out to our experts for all your tech inquiries and solutions. We&#039;re here to assist you.">
     <meta property="twitter:image" content="storage/app/public/featimages/1088873573metaimageall.png">
    <!---------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------->
    <!-- favicon here  -->
    <link rel="icon" type="image/x-icon" href="storage/app/public/logos/802476330image.png">
    <!---------------------------------------------------------------------------------->
    <!-- Bootstrap CSS -->
    <meta name="google-site-verification" content="l0AJJTK5-pEH7NY0d_enmK2aXu4oE8D3eWPaZZhi5pU" />
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/https_/unpkg.com/aos%402.3.1/dist/aos.html">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/responsive.css">
    <link rel="stylesheet" href="./static/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="./static/font/typographhy/stylesheet.css">
    <link rel="stylesheet" href="./static/slider/slider.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3H4479J6TY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-3H4479J6TY');
    </script>
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5Z3NP3Q9');</script>
        <!-- End Google Tag Manager -->

       
</head>

<style>
    .CTA2.active {
	background: #151443;
	color: #f7f7f7;
}
</style>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Z3NP3Q9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand m-0" href="/"><img src="storage/app/public/logos/1596568972image.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/resource">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/plugins">Plugins</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs">Blog</a>
                        </li>
                                                <li class="nav-item">
                            <button id="opento" type="button" class="nav-link b-0" data-bs-toggle="modal" data-bs-target="#Log_in">Login</button>
                        </li>
                                                <li class="nav-item">
                            <div class="searchbox">
                                                          <a href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#Log_in" class="promote">promote your tool</a> 
                          
                            </div>    
                        </li>
                    </ul>
                </div>
                <!-- nav bar end  -->

                <div class="searchbox">
                    
                    
                   
                </div>
            </div>
        </nav>






<main class="cont_temp">
        <div class="contact_sectn">
            <img src="./static/img/robo-hand.svg" alt="" class="Robo_hand">
            <img src="./static/img/human-hand.png" alt="" class="human_hand">
            <div class="form_cont">
                <div class="sec_title text-center">
                    <h2>Contact Us</h2>
                </div>
                <form action="https://futuritech.io/contact" method="post"> <input type="hidden" name="_token" value="FAvY0raWZ4bnc5jG8QNg2LeVgHpslwnWFLx1l7Kz">                    <div class="form-fields">
                        <input type="text" class="form-control" id="name"  name="name" aria-describedby="" placeholder="Name" required>
                    </div>
                    <div class="form-fields">
                      <input type="email" class="form-control" id="emailid" name="email" aria-describedby="emailHelp" placeholder="Email Address" required>
                    </div>
                    <div class="form-fields">
                        <input type="number" class="form-control" id="phonenumber" name="phonenumber" aria-describedby="" placeholder="Phone No." required>
                      </div>
                    <div class="form-fields">
                      <textarea  rows="5" placeholder="Message" name="message"></textarea>
                    </div>
                    <button type="submit" class="CTA2">Submit</button>
                  </form>
            </div>
        </div>
    </main>

    <script src="./static/js/jquery-3.7.0.min.js"></script>
    <script src="./static/js/bootstrap.bundle.js"></script>
    <script>
        if (window.matchMedia("(max-width: 991px)").matches) {
            $('.search-toggle').addClass('closed');
                $('.search-toggle .search-icon').click(function(e) {
                if ($('.search-toggle').hasClass('closed')) {
                    $('.search-toggle').removeClass('closed').addClass('opened');
                    $('.search-toggle, .search-container').addClass('opened');
                    $('#search-terms').focus();
                    $('body').addClass('faded-bg');
                } else {
                    $('.search-toggle').removeClass('opened').addClass('closed');
                    $('.search-toggle, .search-container').removeClass('opened');
                    $('body').removeClass('faded-bg');
                }
                });
} else {
}
    </script>


